body{
  margin: 0px;
  padding: 0px;
}

.header{
  padding: 15px;
}

img{
  padding: 35px;
  height: 450px;
  width: 450px;
}
.content, .main{
  padding: 20px;
  font-size: 20px;
}
.content .ingredients li{
  padding-top: 15px;
}
.content .steps li{
  padding-top: 15px;
}